.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
}

.Content {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    box-sizing: border-box;
    width: 100%;
}

.Files {
    margin-left: 32px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: 1;
    overflow-y: auto;
}

.Actions {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 32px;
}

.Title {
    margin-bottom: 32px;
    color: #555;
}

.Dropzone {
    height: 200px;
    width: 200px;
    background-color: #fff;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
}

.FileInput {
    display: none;
}

.Highlight {
    background-color: rgb(188, 185, 236);
}

.Filename {
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

.Row {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

/* STARS */

span.stars, span.stars span {
    display: block;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Font_Awesome_5_regular_star_grey.svg/512px-Font_Awesome_5_regular_star_grey.svg.png) 0 0 repeat-x;
    width: 5rem;
    /* width of a star multiplied by 5 */
    height: 1rem;
    /* the height of the star */
    background-size: 1rem 1rem;
}

span.stars span {
    background-position: 0 0;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star.svg);
}

/* for card responsive */

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}